body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
ul {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}
ul li {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s ease;
}
ul li:hover {
    background-color: #777;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.jumbotron {
    background-color: #ddd;
    padding: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.jumbotron h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.jumbotron p {
    font-size: 20px;
    line-height: 1.6;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
.book-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.book-details h2 {
    margin-top: 0;
}
.book-details p {
    margin-top: 5px;
}
.book-details img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #555;
}
