{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'members/css/navBar.css' %}">
    
    
</head>
<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="{% url 'Home' %}">Library of Egypt</a>
        </div>
        <ul class="nav-menu">
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li><a href="{% url 'Search' %}">Search</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            {% comment %} <li><a href="{% url 'account' %}">Account</a></li> {% endcomment %}
            
            <li><a href="{% url 'list' %}">List</a></li>
        </ul>
        <div class="login-button">
            {% if user.is_authenticated %}
            <a href="{% url 'account' %}">{{ user.username }}</a>
        {% else %}
            <a href="{% url 'Log_in' %}">Login</a>
        {% endif %}
        </div>
    </div>
</nav>