{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'members/img/Library_of_Egypt.jpg' %}" type="image/jpg">
    <script defer src="{% static 'members/JS/BookTime.js' %}"></script>
    <link rel="stylesheet" href="{% static 'members/css/navBar.css' %}">
    <link rel="stylesheet" href="{% static 'members/css/time.css' %}">
    <title>Library of Egypt</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a href="{% url 'Home' %}">Library of Egypt</a>
            </div>
            <ul class="nav-menu">
                <li><a href="{% url 'Home' %}">Home</a></li>
                <li><a href="{% url 'Search' %}">Search</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% comment %} <li><a href="{% url 'account' %}">Account</a></li> {% endcomment %}
                <li><a href="{% url 'list' %}">List</a></li>
            </ul>
            <div class="login-button">
                {% if user.is_authenticated %}
                <a href="{% url 'account' %}">{{ user.username }}</a>
            {% else %}
                <a href="{% url 'Log_in' %}">Login</a>
            {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        <form action="{% url 'success_reserved' book_id=reserved_book.id %}" method="POST" onsubmit="return validateAndRedirect()"> 
            {% csrf_token %}
            <div class="time">
                <label for="startDate">Start Day</label>
                <input type="date" name="startDate" id="startDate"><br>
                <label for="endDate">End Day</label>
                <input type="date" name="endDate" id="endDate"><br>
                <input type="submit" value="Submit" class="submit">
                <p id="result"></p>
            </div>
        </form>
    </div>
</body>
</html>
