{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'members/css/navBar.css' %}">
    <link rel="stylesheet" href="{% static 'members/css/home.css' %}">
    <link rel="icon" href="{% static 'members/img/Library_of_Egypt.jpg' %}">
    <title>Library of Egypt</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a href="{% url 'Home' %}">Library of Egypt</a>
            </div>
            <ul class="nav-menu">
                <li><a href="{% url 'Home' %}">Home</a></li>
                <li><a href="{% url 'Search' %}">Search</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% comment %} <li><a href="{% url 'account' %}">Account</a></li> {% endcomment %}
                <li><a href="{% url 'list' %}">List</a></li>
            </ul>
            <div class="login-button">
                <a href="{% url 'Log_in' %}">Login</a>
            </div>
        </div>
    </nav>

    <br><br>

    <div class="text">
        <div>
            <h1>Discover Your Next Favorite Book</h1>
            <p>Welcome to our online library. Explore our vast collection of books in various genres and topics.</p>
        </div>    
    </div>

    <!-- Container for dynamically loaded books -->
    <div class="container" id="bookContainer"></div>

    <script src="{% static 'members/js/dynamicHome.js' %}"></script>
</body>
</html>
