{% extends "members/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'members/css/navBar.css' %}">
    
    <!-- Fixed the 'rel' attribute for the favicon link -->
    <link rel="icon" href="{% static 'members/img/Library_of_Egypt.jpg' %}">
    <title>Library of Egypt</title>
    
</head>
<body>

  <!--               /*  nav bar  */             --> 

 {% block content %}

    <div class="container">
        <h1>Booked Books</h1>
        <table id="bookList" border="1">
            <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    {% endblock %}
</body>
</html>
