{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'members/css/log.css' %}">
    <link rel="stylesheet" href="{% static 'members/css/navBar.css' %}">
    <link rel="icon" href="{% static 'img/Library_of_Egypt.jpg' %}">
    
    <title>Library of Egypt</title>
    {% comment %} <script defer src="{% static 'members/js/logIN.js' %}"></script> {% endcomment %}
</head>
<body>

<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="{% url 'Home' %}">Library of Egypt</a>
        </div>
        <ul class="nav-menu">
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li><a href="{% url 'Search' %}">Search</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
             {% comment %} <li><a href="{% url 'account' %}">Account</a></li> {% endcomment %}
            <li><a href="{% url 'list' %}">List</a></li>
        </ul>
        <div class="login-button">
            <a href="{% url 'Log_in' %}">Login</a>
        </div>
    </div>
</nav>

<br><br>

<div class="center">
    {% csrf_token %}
    <h1>Login</h1>
    <form method="post">
        <div class="text_filed">
            <input type="text" id="username" name="username" required >
            <label for="username">Username</label>
            <span></span>
        </div>
        <br>
        <div class="text_filed">
            <input type="password" id="password" name="password" required>
            <label for="password">Password</label>
            <span></span>
        </div>
        <br>
        <div class="pass">
            <input type="submit" value="Login" onclick="login();">
        </div>
        <div class="signup_link">If you don't have an account? <a href="{% url 'Sign_up' %}">Register</a>.</div>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </form>
</div>
    
</body>
</html>