{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'members/css/Search.css' %}">
    <link rel="stylesheet" href="{% static 'members/css/navBar.css' %}">
    
    <script defer src="{% static 'members/js/Search.js' %}"></script>
    <link rel="icon" href="{% static 'members/img/Library_of_Egypt.jpg' %}">
    <title>Library of Egypt</title>
    
</head>
<body>

    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a href="{% url 'Home' %}">Library of Egypt</a>
            </div>
            <ul class="nav-menu">
                <li><a href="{% url 'Home' %}">Home</a></li>
                <li><a href="{% url 'Search' %}">Search</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                  {% comment %} <li><a href="{% url 'account' %}">Account</a></li> {% endcomment %}
                <li><a href="{% url 'list' %}">List</a></li>
            </ul>
            <div class="login-button">
                {% if user.is_authenticated %}
                <a href="{% url 'account' %}">{{ user.username }}</a>
            {% else %}
                <a href="{% url 'Log_in' %}">Login</a>
            {% endif %}
            </div>
        </div>
    </nav>


 
    <div class="first">
        <header>Search</header>

        <div class="search-input">
            <form method="GET" action="{% url 'search_books' %}">
                <input type="text" id="searchInput" name="q" placeholder="Enter search term" value="{{ query }}"  onclick="searchBooks()">
                <button type="submit" >Search</button>
            </form>
        </div>

        <div id="searchResults">
            {% if books %}
                <ul>
                    {% for book in books %}
                        <div>
                            <div class="book-result">
                               
                                <div class="details">
                                    <br>
                                    <p><strong>Title:</strong> {{ book.title }}</p>
                                    <p><strong>Author:</strong> {{ book.author }}</p>
                                    <p><strong>Category:</strong> {{ book.category }}</p>
                                   <button class="borrow-button"><a 
                                    style="
                                    color: white;
                                    text-decoration: none;
                                    padding: 10px;
                                    "
                                     class="atag" href="/book/{{ book.id }}/" >View</a></button> 
                                   <br>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No matching books found.</p>
            {% endif %}
        </div>
    </div>

    <script defer src="{% static 'members/js/Search.js' %}"></script>

</body>
</html>
