{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library of Egypt</title>
    <link rel="stylesheet" href="{% static 'members/css/navBar.css' %}">
    <link rel="stylesheet" href="{% static 'members/css/sign.css' %}">
    <link rel="icon" href="{% static 'members/img/Library_of_Egypt.jpg' %}">
    <script defer src="{% static 'members/js/signUp.js' %}"></script>
</head>
<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="{% url 'Home' %}">Library of Egypt</a>
        </div>
        <ul class="nav-menu">
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li><a href="{% url 'Search' %}">Search</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            {% comment %} <li><a href="{% url 'account' %}">Account</a></li> {% endcomment %}
            <li><a href="{% url 'list' %}">List</a></li>
        </ul>
        <div class="login-button">
            <a href="{% url 'Log_in' %}">Login</a>
        </div>
    </div>
</nav>
<body>
    <div class="center">
        <h1>Sign Up</h1>
        <form id="signup-form" method="POST">
            {% csrf_token %}
            <div class="text_field">
                <input type="text" id="name" name="name" required>
                <label for="name">Name</label>
            </div>
            <div class="text_field">
                <input type="text" id="username" name="username" required>
                <label for="username">Username</label>
            </div>
            <div class="text_field">
                <input type="email" id="email" name="email" required>
                <label for="email">Email</label>
            </div>
            <div class="text_field">
                <input type="password" id="password" name="password" required>
                <label for="password">Password</label>
            </div>
            <div class="text_field">
                <input type="password" id="repassword" name="repassword" required>
                <label for="repassword">Re-enter Password</label>
            </div>
            <div class="user_type">
                <label>User Type</label>
                <br>
                <input type="radio" id="usertype_admin" name="usertype" value="admin">
                <label for="admin">Admin</label>
                <input type="radio" id="usertype_user" name="usertype" value="user">
                <label for="user">User</label>
            </div>
            {{ form.as_p }}
            <input type="submit" value="Sign Up">
            <p class="signup_link">Already have an account? <a href="{% url 'Log_in' %}">Login</a>.</p>
        </form>
    </div>
    
</body>
</html>
