{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'members/img/Library_of_Egypt.jpg' %}" type="image/jpg">
    <link rel="stylesheet" href="{% static 'members/css/navBar.css' %}">
    <link rel="stylesheet" href="{% static 'members/css/successReserveBook.css' %}">

    <title>Library of Egypt</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a href="{% url 'Home' %}">Library of Egypt</a>
            </div>
            <ul class="nav-menu">
                <li><a href="{% url 'Home' %}">Home</a></li>
                <li><a href="{% url 'Search' %}">Search</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'list' %}">List</a></li>
            </ul>
            <div class="login-button">
                {% if user.is_authenticated %}
                <a href="{% url 'account' %}">{{ user.username }}</a>
            {% else %}
                <a href="{% url 'Log_in' %}">Login</a>
            {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Book Reserved Successfully</h1>
        <p id="reservationMessage" class="reservation-message">
            {% if reserved_book %}
                Book reserved successfully:
                <ul>
                    <li><strong>Title:</strong> {{ reserved_book.title }}</li>
                    <li><strong>Author:</strong> {{ reserved_book.author }}</li>
                    <li><strong>Published:</strong> {{ reserved_book.year_of_publish }}</li>
                    <li><strong>Category:</strong> {{ reserved_book.category }}</li>
                </ul>
            {% else %}
                No reservation details found.
            {% endif %}
        </p>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var startDate = localStorage.getItem('reservationStartDate');
            var endDate = localStorage.getItem('reservationEndDate');
            if (startDate && endDate) {
                // Extract date part only
                startDate = startDate.split('T')[0]; // Split at 'T-> Time' to get the date part
                endDate = endDate.split('T')[0];
        
                var message = 'Book reserved successfully from ' + startDate + ' to ' + endDate + '.';
                document.getElementById('reservationMessage').textContent = message;
            }
        });
    </script>
</body>
</html>
