{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'members/css/watingList.css' %}">
    <title>Waiting List</title>
</head>
<body>
    <div class="container">
        <h2>Join the Waiting List</h2>
        <h3>
            waiting list to book {{reserved_book.title}}
        </h3>
        <form id="waitingListForm" method="{% url 'Log_in' %}">
            <div class="form-group">
                <label for="fullName">Full Name:</label>
                <input type="text" id="fullName" name="fullName" value="{{ username }}" readonly>
            </div>
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" value="{{ username.email }}" readonly>
            </div>
            <div class="form-group">
                <button type="submit">Join</button>
            </div>
        </form>
        <div id="message"></div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const fullNameInput = document.getElementById('fullName');
            const emailInput = document.getElementById('email');
            const form = document.getElementById('waitingListForm');
            const messageDiv = document.getElementById('message');
            const joinButton = document.getElementById('joinButton');
    
            // Set the input fields as read-only
            fullNameInput.setAttribute('readonly', true);
            emailInput.setAttribute('readonly', true);
    
            form.addEventListener('submit', (event) => {
                event.preventDefault(); // Prevent form submission
    
                // Display the "Thank you" message
                messageDiv.textContent = `Thank you, You've been added to the waiting list.`;
                form.reset(); // Reset the form after submission
    
                // Redirect to the home page after 4 seconds
                setTimeout(() => {
                    window.location.href = "{% url 'Home' %}";
                }, 4000);
            });
        });
    </script>
</body>
</html>
