body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
    color: black;
    background: linear-gradient(120deg, black , white);
}

.first {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 400px;
}

.first header {
    font-size: 24px;
    margin-bottom: 20px;
}

.first input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.first button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.first button:hover {
    background-color: #0056b3;
}


.borrow-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.borrow-button:hover {
    background-color: #0056b3;
}

.atag {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.details {
    flex: 1;
}
