
.container {
    text-align: center;
    margin-top: 50px;
}

.reservation-message {
    background-color: #dff0d8; /* Light green background */
    color: #3c763d; /* Dark green text color */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.reservation-message ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}
.reservation-message li {
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px; 
}
.reservation-message li strong {
    margin-right: 5px;
    color: #007bff; 
}