{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="website icon" ref="{% static 'img/' %}" href="{% static 'img/Library_of_Egypt.jpg' %}">
    <title>Library of Egypt</title>
</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a href="{% url 'Home' %}">Library of Egypt</a>
            </div>
            <ul class="nav-menu">
                <li><a href="{% url 'Home' %}">Home</a></li>
                <li><a href="{% url 'Search' %}">Search</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% comment %} <li><a href="{% url 'account' %}">Account</a></li> {% endcomment %}
                <li><a href="{% url 'list' %}">List</a></li>
            </ul>
            <div class="login-button">
                <a href="{% url 'Log_in' %}">Login</a>
            </div>
        </div>
    </nav>



    <br><br>

    <h2> Online Library and project number is 2 </h2>
    

    <div class="container">

  
    <table >
        <tr >
            <th>
                Name
            </th>
            <th>
                Ids
            </th>
            <th>
                Group
            </th>
        </tr>

        <tr bgcolor="lightgrey">
            <td>
                ahmed Dafalla mohamed
            </td>
            <td>
                20210912
            </td>
            <th>
                s10
            </th>
        </tr>

        <tr bgcolor="lightgrey">
            <td>
                عبدالرحمن محمد محمود
            </td>
            <td>
                20220179
            </td>
            <th>
                s10
            </th>
        </tr>

        <tr bgcolor="lightgrey">
            <td>
                احمد بندر بن خنفور
            </td>
            <td>
                20210800
            </td>
            <th>
                s10
            </th>
        </tr>

        <tr bgcolor="lightgrey">
            <td>
                يوسف سعيد شعبان عفيفي
            </td>
            <td>
                20220393
            </td>
            <th>
                s6
            </th>
        </tr>

        <tr bgcolor="lightgrey">
            <td>
                زياد محمد عبد الحكم احمد
            </td>
            <td>
                20230608
            </td>
            <th>
                s7
            </th>
        </tr>
    </table>
 </div>
    
</body>
</html>