<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/book.css' %}">
    <link rel="website icon" ref="../img/" href="{% static 'img/Library_of_Egypt.jpg' %}">
    <title>Library of Egypt</title>
    <script defer src="{% static 'js/comment.js' %}"></script>
    <script defer src="{% static 'js/dynamicDisplay.js' %}"></script>
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a href="index.html">Library of Egypt</a>
            </div>
            <ul class="nav-menu">
                <li><a href="index.html">Home</a></li>
            <li><a href="Search.html">Search</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="AccountD.html">account</a></li>
            <li><a href="list.html">list</a></li>
            </ul>
            <div class="login-button">
                <a href="logIN.html">Login</a>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="book-details">
            <img src="../img/Enceladus.jpg" alt="Book Cover" class="book-cover">
            <div class="details">
                <h2>Enceladus</h2>
                <p><strong>Author:</strong> Arthur C. Clarke</p>
                <p><strong>Published:</strong> 1983</p>
                <p><strong>Category:</strong> Science Fiction</p>
                <p><strong>Description:</strong> Enceladus is a science fiction novel by Arthur C. Clarke. It follows the story of a space expedition to the moon of Saturn, Enceladus, where a mysterious discovery leads to profound revelations about the nature of the solar system.</p>
                <br>
                <a href="../html/booktime.html" class="borrow-button">Borrow Now</a>
            </div>
        </div>
    </div>
    

    <div class="review-section">
      <h3>Reviews</h3>
      <form id="review-form">
          <textarea id="review-box" placeholder="Write your review here..." required></textarea>
          <button type="submit">Post Review</button>
      </form>
      <div id="reviews-container">
          <h4>Recent Reviews</h4>
          <ul id="reviews-list"></ul>
      </div>
  </div>
  


</body>
</html>