{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Search.css' %}">
    <link rel="stylesheet" href="{% static 'css/navBar.css' %}">
    <script defer src="{% static 'js/Search.js' %}"></script>
    
</head>
<body>

    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a href="{% url 'Home' %}">Library of Egypt</a>
            </div>
            <ul class="nav-menu">
                <li><a href="{% url 'Home' %}">Home</a></li>
                <li><a href="{% url 'Search' %}">Search</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                  {% comment %} <li><a href="{% url 'account' %}">Account</a></li> {% endcomment %}
                <li><a href="{% url 'list' %}">List</a></li>
            </ul>
            <div class="login-button">
                <a href="{% url 'Log_in' %}">Login</a>
            </div>
        </div>
    </nav>


    <div class="first">
        <header>Search</header>

        <div class="">
            <input type="text" id="searchInput" placeholder="Enter search term">
            <div class="login-button">
                <button onclick="searchBooks()">Search</button>
            </div>
        </div>
        <div id="searchResults"></div>
    </div>

</body>
</html>
